.App{
    background-color:#bbc6f2;
}



.ribbon-container{
    background-color: salmon;
    color: aliceblue;
    font-size: 0.7em;
}

.ribbon{
    text-align: center;
     display: flex;
   flex-direction: row;
   justify-content: center;

}

.ribbon p{
    margin: 0 !important;
    padding: 0 !important;
}

.hide{
color: salmon
}