.disc p{
  color: aliceblue;
  font-weight: 500;
  text-align: center;
  font-size: 1.3em;
}


.disc h6{
margin-top: 30px;
color: #222222 !important;
font-size: 0.5em 
}


.disc{
  margin-top: 2em
}

.disc .accordion{
margin-top: 15px;
margin-bottom: 2em
}


.disclamer-list{
  font-size: .8em;
  font-weight: 550;
  text-align: justify;
  padding:10px;
  background-color: aliceblue;
  color:#222222;
  columns: 2;
  opacity: 0.9
}


.disclamer-list li{
  margin-left:20px;
}


@media (max-height:800px){
  .disclamer-list{
    columns: 1;
    padding:5px;
  }
  .disclamer-list li{
    margin-bottom: 5px;;
    margin-right:10px
  }
}