
ul.policy-list{
  list-style: none;
  padding:5px !important;
  text-align: center;
  columns: 2;
}



.policy-list li{
  padding:5px;
  margin-bottom: .5em;
  font-weight: 500;
  font-size: 1.1em
}


.disc h6{
margin-top: 30px;
color: #222222 !important;
font-size: 0.5em 
}


.policy-title{
  text-align: center;
  color: #222222;
  opacity: .9
}

.disc{
  margin-top: 2em
}

.disc .accordion{
margin-top: 15px;
margin-bottom: 2em
}


.disclamer-list{
  font-size: .8em;
  font-weight: 500;
  text-align: justify;
  padding:10px;
  background-color: aliceblue;
  color:#222222;
  opacity: 0.9;
  list-style: none;
}


.disclamer-list li{
margin-bottom: .6em !important;
  width:97%;
  margin:auto;
}


@media (max-width:800px){

ul.policy-list{
  columns: 1 !important;
  background-color: aliceblue
}


}