ol{
  padding-left: 5px;
  margin:5px;
  list-style: none;
}

.faq-container p{
  text-align: justify;
  font-weight: 450;
}

.faq-container h4{
margin:auto;
padding:5px 0 5px 0;
color: #222222
}

ol li{
  padding:5px 0 5px 30px;
  font-weight: 450;
  color: aliceblue;
  background-image: url("../images/checkbox.png");
  background-repeat: no-repeat;
  background-size: 19px;
  text-align: left;
  background-position: left center;
}





.faq-card-container{
  display:grid;
  grid-template-columns: 1fr 1fr ;
  grid-template-rows: 1fr 1fr 1fr ;
margin:auto;
grid-gap: 5px
}

.faq-card{
  display:flex;
  flex-direction: row;
}


.faq-card img{
  padding:5px;
}

.faq-card p{
  color: aliceblue;
  font-weight: 700;
  text-align: left;
  margin: auto auto auto 5px;
  
}


.faq-card img{
  width:3.5em;
  height:auto;
  padding: 0 5px 0 0;

}

.reqs-use{
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-bottom: 10px;
}


@media (max-width: 805px){
.reqs-use{
  flex-direction: column;
  margin-bottom: 30px
}

#use h4{
  margin-bottom: 10px
  ;font-size: 1.3em
}


#reqs h4{
  font-size: 1.3em
}



}




#use{
  display: flex;
  flex-direction: column;
  margin:auto;
          text-align: center;

}

#reqs{
      margin:auto;
              text-align: center;

}

.acc-container{
  margin:auto;
}



.card-header{
  background-color: aliceblue !important;
  font-weight: 500;
    color: #222222

}


.card-body{
  background-color: aliceblue;
  padding: 10px 10px 10px 20px !important;
  color: #222222
}