.how-store{
display:grid;
grid-gap: 5px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;;
margin-top:30px;
}


@media (max-width: 805px){
.how-store{
  display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
padding:5px;
}
 
.how-content{
  margin-top: 30px
}


}


.sub-title{
  color: aliceblue;
  font-size: 2em;
}


.page-title{
  font-weight: 600;
  color: aliceblue;
  font-size: 2.5em;
  margin:auto;;
}

.steps-card{
display: grid;
grid-gap: 5px;
grid-template-rows: 1fr 1fr;
margin:0;
height:15em;
}


p.card-body-p{
  font-size: 1em;
  color: white;
  font-weight: 600;
  padding:5px;
  text-align: center;
}


.step-img{
  width:50%;
  align-self: center;
  padding:0;
  margin:auto;
}

.card-number{
  font-size: 2em;
  padding:5px;
  margin:0;
  color: aliceblue;
  font-weight: 600
}


.how-terms{
margin:10px;
text-align: justify;
color: #222222;
font-weight: 500;

}



.how-table{
background-color: aliceblue
}


.table{
margin:0 !important;
}




.table td{
  text-align: center;
  font-weight: 600;
  font-size: 0.85em !important;
color: black
}


