.how-store{
display:grid;
grid-gap: 5px;
grid-template-columns: 1fr 1fr 1fr 1fr;
grid-template-rows: 1fr;
padding:5px;
margin: 5px
}


@media (max-width: 805px){
.how-store{
  display:grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: 1fr 1fr;
padding:5px;
}
.how-content{
  margin-top: 20px
}


.how-table{
  width:100% !important;
}

.table-container{
  flex-direction: column !important;
}


p.card-body-p{
  font-size: 1.1em !important;
  font-weight: 500 !important;
}

}




.how h3{
font-size: 1.6em !important;
margin:auto;
padding:5px 0px;
text-align: center;



}
.sub-title{
  color: aliceblue;
  font-size: 2em;
  text-align: center;
  margin:0.5em;
  margin-top: 2em;

}
.page-title{
  font-weight: 600;
  color: aliceblue;
  font-size: 2.5em;
  text-align: center;

}

.steps-card{
display: grid;
grid-gap: 5px;
grid-template-rows: 1fr 1fr;
height:15em;

}


p.card-body-p{
  color: white;
  font-weight: 600;
  font-size: 1.1em;
  text-align: center;
  padding:3px;
  width:90%;
  margin:auto;
}


.step-img{
  width:50%;
  height:auto;
  margin:auto;
}

.card-number{
  font-size: 2em;
  padding:5px;
  margin:0;
  color: aliceblue;
  font-weight: 600
}






.table-container{
  display:flex;
  flex-direction: row;
}



.how-table{
padding:5px;
width:40%;
}


.table{
font-size: 0.7em;
text-align: center;
}

.how-table th{
  background-color: aliceblue;
  color: #222222;
  width:50%;
  font-size: 1.3em;
  border-bottom: grey 1px solid !important
}

.how-table td{
  background-color: aliceblue;
  color: #222222;
  font-size: 1.3em;
  font-weight: 600;
  border-bottom: grey 1px solid !important

}

.explain-container{
  margin:auto;
  width:90%;
  text-align: justify;
}

.explain-container p {
  font-size: 1.3em;
  color: aliceblue;
  font-weight: 600
}

.explain-container h5{
  text-align: center;
  font-size: 1.4em !important;
  color: #222222 !important;
  font-weight: 700 !important;
  opacity: 0.8
}