.navbar{
    background-color:#bbc6f2;

}



#responsive-navbar-nav{
justify-content: flex-end;
}


.nav-link{
  color:#d3d3f2;
  font-weight: 600
}


.secured{
  display:flex;
  flex-direction: row;
  border:solid 0.5px aliceblue;
  border-radius: 20px;
  padding:3px;
}

.secured img{
  width:1.4em;
  height:1.4em;
  margin: auto;
  padding:3px;

}

.secured p{
  color: aliceblue;
  margin:auto;
  font-size: 0.6em;
  padding:3px;
}