.who-container{
  margin: auto;
  padding:10px;
  width:90%
}

.who-container p{
  color: aliceblue;
  font-size: 1.5em;
  margin-bottom:10px !important;
  text-align: center;
  font-weight: 500;
}

@media (max-width:800px){
  .promise-container{
    padding:0 !important;
    margin:0 !important;
    width:100% !important
  }

  .promise img{
    height:4.1em !important;
    width:4.2em !important;
    padding:0 !important;
    margin:auto !important;

  }

  .promise{
    margin-bottom:0.1em !important;
  }

  .promise li{
    font-size: 0.8em !important;
    margin-bottom: 0.8em;
    text-align: center;
  }

  .promise ul{
    padding: 5px !important;
list-style: none !important;
  }
 

.who-container p{
font-size: 1em !important
}

.who-container{
  width:100% !important;
}


}

.promise-container{
  padding:10px;
  width:90%;
  margin:auto;
  margin-bottom: 2em;
}

.promise{
  display:flex;
  flex-direction: row;
  margin: auto;
  background-color: aliceblue;
  width:95%;
  padding:5px !important
}

.promise img{
height:7em;
width: 7em;
margin:5px;
padding:5px;
}

.promise ul{
  margin:auto;
  width:100%;
}

.promise li{
  font-size: 1.3em;
  font-weight: 520 !important
}