.who-container{
  margin: auto;
  padding:10px;
  width:90%
}

.who-container p{
  color: aliceblue;
  font-size: 1.5em;
  margin-bottom:10px !important;
  text-align: center;
  font-weight: 500;
}



.link-store{
  text-align: center !important;

}

#terms-link{
font-size: .9em !important;
color: #222222;
}

#alink{
  font-size: .9em !important;
}

@media (max-width:800px){
  .promise-container{
  }

  .promise img{
    height:4.1em !important;
    width:4.2em !important;
    padding:0 !important;
    margin:auto !important;

  }

  .promise{
width:100% !important;
  }

  .promise li{
    font-size: 0.9em !important;
    margin-bottom: 0.8em;
    text-align: center;
  }

  .promise ul{
    padding: 5px !important;
list-style: none !important;
  }
 

.who-container p{
font-size: 1.2em !important;

}

.who-container{
  width:100% !important;
}


}

.promise-container{
  padding:10px;
  margin-left:-35px;
  margin-right:-35px;
  background-color: aliceblue;

}

.promise{
  display:flex;
  flex-direction: row;
  padding:5px !important;
  width:80%;
  margin:auto;
}

.promise img{
height:7em;
width: 6.8em;
margin:5px;
padding:5px;
}

.promise ul{
  margin:auto;
  width:100%;
}

.promise li{
  font-size: 1.3em;
  font-weight: 520 !important
}